body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

#header-container {
  position: relative;
  margin: 0 auto;
  height: 100px;
  background-color: lightblue;
}

#top-header, #content-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#website-title, #user-links {
  position: relative;
  display: inline-block;
  width: 49%;
  top: 30px;
}

#nav-container {
  float: right;
}

#user-links span, .hidden-forms, .link-buttons {
  display: inline-block;
}

.link-buttons {
  background: none!important;
  border: none;
  padding: 0!important;
  color: blue;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.user-forms {
  position: relative;
  margin-top: 10px;
  border: 2px solid gray;
  padding: 20px;
}

.user-forms h3 {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1.8em;
}

.user-forms input, button {
  display: block;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

