<form class="user-forms" action="/users" method="post">
  <h3>register</h3>
  <%= erb :"_errors", locals: { errors: @errors } %>
  <input type="text" name="user[username]" placeholder="choose a username">
  <input type="text" name="user[email]" placeholder="enter your email">
  <input type="password" name="user[password]" placeholder="choose a password">
  <button type="submit">register</button>
</form>
