<form class="user-form find-actor" action="/user_actors" method="post">
  <h3>Where do you know them from?</h3>
  <input id="search-query" type="text" name="search_query" placeholder="What are you watching?">
  <button type="submit">Find them!</button>
</form>
